Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.forum.cvuuf.org$ [NC]
RewriteRule ^(.*)$ http://forum.cvuuf.org/awstats/$1 [R=301,L]
